.nav-link {
    border-radius: 5px;
    margin-left: 2px;
    margin-right: 2px;
}

.nav-link:hover {
    background-color: rgba(202,193,224,0.9);
}

.nav-link.active {
    background-color: rgba(202,193,224,0.9);
}

.main-column, .main-column-thin, .main-column-wide {
    display:flex; 
    justify-content:center; 
    flex-direction:column; 
    margin-top: 15px;
    margin-bottom: 20px;
}

.main-column {
    width: 650px;
}

.main-column-thin {
    width: 400px;
}

.main-column-wide {
    width: 1000px;
}

.mobile-show {
    display: none!important; 
}

.layer-box {
    display: flex;
    justify-content: space-between;
    align-items: top;
}

@media only screen and (max-width: 722px) {
  .main-column, .main-column-thin {
    width: 90%;
  }
  .mobile-hide {
    display: none!important;
  }
  .mobile-show {
    display: inherit!important;
  }
  .layer-box {
    flex-direction: column;
  }
  .layer-box > section {
    width: 100%!important;
  }
}

@media only screen and (max-width: 1111px) {
  .main-column-wide {
    width: 90%;
  }
}

.button-link {
    margin-bottom: 10px;
    padding: 7px 15px;
    border-radius: 5px;
    text-decoration: none;
    color: #444;
    background-color: #D7D7F5;
    transition: all .15s ease-in-out;
}

.button-link:hover {
    background-color: #CACAED;
}

.btn.btn-primary {
    border-color: #8585DE;
    background-color: #8585DE;
}

.btn.btn-primary:hover {
    border-color: #8585DE;
    background-color: #7171C7;
}

.btn.btn-primary:disabled {
    border-color: #A8A8F7;
    background-color: #A8A8F7;
}

.alert {
    margin: 15px;
    padding: 12px;
}

.warning-tag {
    padding: 3px 6px;
    border-radius: 5px;
    font-weight: 500;
    color: white;
    background-color: #dc3545;
    margin-bottom: 5px;
    margin-left: 10px;
}

.text-display {
    white-space: pre-line;
    background-color: white;
    border-radius: 5px;
    padding: .375rem .75rem;
    border: var(--bs-border-width) solid var(--bs-border-color);
    margin-bottom: 0px;
}

.btn.btn-secondary {
    padding: 0.2rem 0.6rem;
}

/* used for the sense displays in dream-detail, personal stats, and global stats */

.sense-table-wrapper > table {
    width: stretch;
    text-align: center;
    border-spacing: 6px 6px;
    border-collapse: separate;
    table-layout: fixed
}

@media only screen and (max-width: 1000px) {
  .sense-table-wrapper {
    overflow-x: scroll;
  }
}

.senses > td {
    border-radius: 8px;
    background-color: #DADAF0;
}

.emoji {
    font-size: 3em;
    margin-bottom: 0px;
}

.pie {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 10px auto;
}