.layer-box {
    display: flex;
    justify-content: space-between;
    align-items: top;
}

.senses > td {
    border-radius: 8px;
    background-color: #DADAF0;
}

.senses > td > .compare {
    border-radius: 8px;
    background-color: #D1D1EB;
    width: 88%;
    margin: auto;
    margin-top: 8px;
    padding: 4px;
    color: var(--bs-body-color);
}

.emoji {
    font-size: 3em;
    margin-bottom: 0px;
}

.off > .emoji {
    filter: grayscale(100%) opacity(0.5);
}

.off {
    color: #888
}