{% extends "base.html" %}
{% block body %}
    <h1>Account Settings</h1>

    <form action="" method="post" onsubmit="return warnWhenSettingPrivate()">
        <h2>Basic Info</h2>
        <label for="new_username">Username:</label>
        <input type="text" id="new_username" name="new_username" value="{{ user.username }}">
        <br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="{{ user.email }}">
        <br><br>

        <h2>Change Password</h2>
        <label for="current_password">Current password:</label>
        <input type="password" id="current_password" name="current_password">
        <br>
        <label for="new_password">New password:</label>
        <input type="password" id="new_password" name="new_password">
        <br><br>

        <h2>Privacy Settings</h2>
        <label for="public_enabled">Allow my dream data to be included in global statistics and made available to researchers</label>
        <br>
        <input type="radio" id="public_yes" name="public_enabled" value="True" required {%if user.public_enabled%}checked{%endif%}>
        <label for="public_yes">Yes</label>
        <input type="radio" id="public_no" name="public_enabled" value="False" required {%if not user.public_enabled%}checked{%endif%}>
        <label for="public_no">No</label>
        <br>
        <label style="font-size: 0.95em; color: #666;">(Entries still need to be individually marked as public for the above to apply)</label>
        <br><br>
        <label for="notif_enabled">Notify me when my dream entries are included in a dataset provided to a researcher</label>
        <br>
        <input type="radio" id="notif_yes" name="notif_enabled" value="True" required {%if user.notif_enabled%}checked{%endif%}>
        <label for="notif_yes">Yes</label>
        <input type="radio" id="notig_no" name="notif_enabled" value="False" required {%if not user.notif_enabled%}checked{%endif%}>
        <label for="notif_no">No</label>
        <br><br>

        <h2>Profile Details</h2>
        <label for="birth_date">Birth date:</label>
        <input type="date" id="birth_date" name="birth_date" value="{{ user.birth_date if user.birth_date is not none }}">
        <br>
        <label for="gender">Gender:</label>
        <select id="gender" name="gender">
            <option value="" {{"selected" if not user.gender}}>---</option>
            <option {{"selected" if user.gender=="Male"}}>Male</option>
            <option {{"selected" if user.gender=="Female"}}>Female</option>
            <option {{"selected" if user.gender=="Other"}}>Other</option>
        </select>
        <br>
        <label for="med_conditions">Medical conditions:</label>
        <br>
        <textarea rows="3" cols="50" id="med_conditions" name="med_conditions">{{ user.med_conditions if user.med_conditions is not none }}</textarea>
        <br><br>
        <label for="country">Country:</label>
        <input type="text" id="country" name="country" value="{{ user.country if user.country is not none }}">
        <br>
        <label for="state">State/Province:</label>
        <input type="text" id="state" name="state" value="{{ user.state if user.state is not none }}">
        <br>
        <label for="city">City:</label>
        <input type="text" id="city" name="city" value="{{ user.city if user.city is not none }}">
        <br><br>

        <input type="submit" value="Save changes">
    </form>

    <script>
        function warnWhenSettingPrivate() {
            no_button = document.getElementById("public_no")
            if(no_button.checked) {
                ok = confirm("Disabling data sharing will cause *all* of your dream entries to be marked as private. Are you sure?");
                no_button.checked = ok;
                document.getElementById("public_yes").checked = !ok;
                return ok;
            }
        }
    </script>

    <br><hr>
    <h2>Account Deletion</h2>
    <form method="post" action="/account/delete" onsubmit="return confirm('Are you sure you want to delete your account? This will permanently delete all of your dream entries, and cannot be undone!');">
        <p>
            Deleting your account will also delete all associated dream entries.<br>
            <strong>This cannot be reversed!</strong>
        </p>
        <input type="submit" value="Delete this account" style="width:140px;height:35px">
    </form>
{% endblock %}
