{% extends "base.html" %}
{% block body %}
    <div class="mx-auto main-column-wide">
        <h1>Admin controls</h1>
    
        <section>
            <h2>Research account requests</h2>
            <hr>
            {% for req in requests %}
                <div>
                    <div style="display:flex">
                        <div style="width:35%">
                            <div class="input-group">
                                <span class="input-group-text">Name:</span>
                                <input type="text" class="form-control" value="{{req.name}}" style="background-color:white" disabled>
                            </div>
                            <div class="input-group">
                                <span class="input-group-text">Email:</span>
                                <input type="text" class="form-control" value="{{req.email}}" style="background-color:white" disabled>
                            </div>
                            <div class="input-group">
                                <span class="input-group-text">ROR ID:</span>
                                <input type="text" class="form-control" value="{{req.ror_id}}" style="background-color:white" disabled>
                            </div>
                        </div>
                        <p class="text-display">{{req.reason}}</p>
                    </div>
                    <div style="display:flex; align-items:center; margin-top:10px">
                        <div class="input-group" style="width:17%;height:fit-content">
                            <span class="input-group-text">Status:</span>
                            <input type="text" class="form-control" value="{{req.status}}" style="text-align:center;background-color:{{'#fff3cd' if req.status=='Pending' else '#d1e7dd'}}" disabled>
                        </div>
                        {% if req.status == "Pending" %}
                            <form action="" method="post" style="width:83%">
                                <span style="margin-left:5px">| </span>
                                <input type="hidden" name="req_id" value="{{req.id}}">
                                <input type="submit" class="btn btn-success" name="approval" value="Approve" style="height:37px;vertical-align:baseline" formnovalidate> | 
                                <input type="submit" class="btn btn-danger" name="approval" value="Deny" style="height:37px;vertical-align:baseline">
                                <input type="text" class="form-control" name="deny_msg" placeholder="Reason for denial" style="display:inline; width:65%" required>
                            </form>
                        {% else %}
                            <p style="margin-bottom:0px;margin-left:8px">Account creation must be confirmed by client.</p>
                        {% endif %}
                    </div>
                    <hr>
                </div>
            {% endfor %}
        </section>
    </div>
{% endblock %}