<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Nyctograph</title>
        <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    </head>
    <body>
        <header style="display: flex; justify-content: space-between;">
            <span>
                Nyctograph |
                {% if login_status != 2 %}
                    <a href="/">Record a dream</a> |
                {% endif %}
                {% if login_status == 1 %}
                    <a href="/my-dreams">My dreams</a> |
                    <a href="/personal-stats">Personal stats</a> |
                {% endif %}
                {% if login_status == 2 %}
                    <a href="/research">Research filters</a> |
                    <a href="/research/data">Research data</a> |
                {% endif %}
                <a href="/global-stats">Global stats</a> |
                <a href="/about-us">About us</a>
            </span>
            {% if uname %}
                <span>
                    Logged in as {{uname}}{% if login_status == 2 %} (research){% endif %}
                    ({% if login_status == 1 %}<a href="/account">Account</a> | {% endif %}<a href="/logout">Log out</a>)
                </span>
            {% else %}
                <span>
                    <a href="/login">Log in</a> |
                    <a href="/signup">Sign up</a> |
                    <a href="/signup/research">Research sign up</a>
                </span>
            {% endif %}
        </header>
        {% for msg, type in flash %}
            {% if type == "info" %}
                <p class="flash-info">{{msg}}</p>
            {% endif %}
            {% if type == "warn" %}
                <p class="flash-warn">{{msg}}</p>
            {% endif %}
            {% if type == "success" %}
                <p class="flash-success">{{msg}}</p>
            {% endif %}
        {% endfor %}
        {% block body %}{% endblock %}
    </body>
</html>