{% extends "base.html" %}
{% block body %}
    <h1>Log In</h1>
    <form action="" method="post">
        <label for="uname">Username:</label>
        <input type="text" id="uname" name="uname">
        <br>
        <label for="pword">Password:</label>
        <input type="password" id="pword" name="pword">
        <br><br>
        <input type="submit" value="Log in">
    </form>
    <div>
        <p style="margin-top:1rem"><a class="auth-link" href="/signup">Create a standard account</a></p>
        <p style="margin-top:1.3rem"><a class="auth-link" href="/signup/research">Request a research account</a></p>
    </div>
{% endblock %}