{% extends "base.html" %}
{% block body %}
    <h1>Log In</h1>
    <form action="" method="post">
        <label for="uname">Username:</label>
        <input type="text" id="uname" name="uname">
        <br>
        <label for="pword">Password:</label>
        <input type="password" id="pword" name="pword">
        <br><br>
        <input type="submit" value="Log in">
    </form>
    <p><a href="/signup">Create a standard account</a> or <a href="/signup/research">create a research account</a>.</p>
{% endblock %}