{% extends "base.html" %}
{% block body %}
    <div class="mx-auto main-column">
        <h1>Create a standard account</h1>
        <form action="" method="post">
            <label for="username" class="form-label">Username:</label>
            <input type="text"  class="form-control" id="username" name="username" required minlength="3" maxlength="64" autocomplete="username">
            
            <label for="email" class="form-label" style="margin-top:10px">Email:</label>
            <input type="email" class="form-control" id="email" name="email" required autocomplete="email">
            
            <label for="password" class="form-label" style="margin-top:10px">Password:</label>
            <input type="password" class="form-control" id="password" name="password" required minlength="8" autocomplete="new-password">
            
            <label for="password_confirm" class="form-label" style="margin-top:10px">Confirm password:</label>
            <input type="password" class="form-control" id="password_confirm" name="password_confirm" required minlength="8" autocomplete="new-password">
            
            <p style="font-size:small; margin-top: 1rem;margin-bottom: 0;">
                Nyctograph stores your dream entries and account details in our database so you can use the service.
                By marking the consent box below, you confirm that you understand this, that you are at least 13 years of age, and that you agree to our storage of this data.
            </p>
            <input type="checkbox" class="form-check-input" name="consent_data_storage" id="consent_data_storage" value="yes" required>
            <label class="form-check-label" for="consent_data_storage">
                I consent to Nyctograph storing my account data and dream entries.
            </label>
            
            <p style="font-size:small; margin-top: 1rem;margin-bottom: 0;">
                By default, all your stored entries are completely private. If you opt in via the checkbox below, you will be able 
                to mark entries as public, allowing them to be included in global statistics and made available to researchers.
            </p>
            <input type="checkbox" class="form-check-input" name="public_opt_in" id="public_opt_in" value="yes">
            <label class="form-check-label" for="public_opt_in">
                I want to be able to mark my dream entries as public.
            </label>
            
            <br><br>
            <input type="submit" class="btn btn-primary" value="Create account">
        </form>
        <p style="margin-top:1.5rem">
            <a class="button-link" href="/login">Already have an account? Log in</a><br>
        </p>
    </div>
{% endblock %}
